<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equtv="X-UA-Compatible" content="IE=edge">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     <link rel="stylesheet" href="{{url_for('.static', filename='stylesheet.css')}}">
	
</head>
    <body>
<table>
            <a class="HyperLink">System</a>
            <li class="hl"><a class="hllink" href="/home">home</li></a>
            <li class="hl"><a class="hllink" href="/additem">Add</li></a>
            <li class="hl"><a class="hllink" href="/list">Summary</li></a>
</table>
	<h1>Welcome to Po's Final Project </h1>
	<h2>This Project will show my Front End and Back End skills</h2>
	<h3>The front end refers to what your users (clients) will actually see on the website in the browser. The front end development includes navigation, fonts, colors, dropdown menus, etc. Build your user interface with Bootstrap to provide a responsive and mobile friendly site.</h3>
	<h3>The back end refers to the application which works on the server, including the web server, dynamic or static web pages, and the database. You can use SQLite to create a simple database table for the inventory.</h3>
</body>
</html>
